@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans.ttf');
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('../fonts/DroidSans-Bold.ttf');
}

html {
    font-family: 'DroidSans';
    font-size: 16px;
}

body {
	background: #00B268;	
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
} 

h1 {
	font-size: 26px;
}
