/*HEADER MODULE*/

.main-header {
    position: relative;
    /*background: url(../img/bg_lego.jpg) center center; */
        background: linear-gradient(rgba(255, 75, 42, 0.5),rgba(255, 75, 42,0.5)),url(https://leveluptuts.com/sites/all/themes/levelup2014/images/screen.png) no-repeat 0 -50px;
    color: rgb(255, 75, 42);
    background: #FF8954; 
}

.main-header * {
	-webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.main-header .logo-toggle {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-image: url(../img/fox-site.png);
    background-color: #FF8954;
    background-position: 56px 24px;
    background-repeat: no-repeat;
    text-align: center;
    opacity: .8;  
}

.main-header .logo-toggle:hover {
    opacity: 1;
    cursor: pointer;
}

.main-header .logo-toggle.active {
    opacity: 1;
	-webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.main-header .logo-toggle h1 {
    display: inline-block;
    position: relative;
    font-family: 'DroidSansBold';
    font-size: 22px;
    color: #fff;
    top: 173px;
}

.main-header .side-nav {
	display: inline-block;
    position: absolute;
    left: -240px;
    height: 100%;
    background-color: #000;
    text-align: left;
    opacity: 0;
}

.main-header .side-nav.active {
	left: 0px; 
	opacity: .5;
}

.main-header .side-nav li a {
	display: inline-block;
	padding: 15px 60px;
	color: #fff;
	font-size: 18px;
}
