/*HEADER MODULE*/

.main-header {
    position: relative;
    top: -45px;
    color: rgb(255, 75, 42);
}

.main-header .bg-cover {
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(rgba(255, 75, 42, 0.5), rgba(255, 75, 42,0.5)), url(https://leveluptuts.com/sites/all/themes/levelup2014/images/screen.png) no-repeat 0 -50px;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
}

.top-bar, .main-header, .main-header * {
	-webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.main-header .logo-toggle {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-image: url(../img/fox-site.png);
    background-color: #FF8954;
    background-position: 56px 24px;
    background-repeat: no-repeat;
    text-align: center;  
    cursor: pointer;
}

.main-header .logo-toggle.active {
    opacity: 1;
	-webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.main-header .logo-toggle h2 {
    display: inline-block;
    position: relative;
    font-family: 'DroidSansBold';
    font-size: 22px;
    color: #fff;
    top: 173px;
}

.top-bar {
    position: relative;
    opacity: 0;
    top: -45px;
}

.top-bar.active {
    top: 0px;
	opacity: 1;
}

.top-bar.active + .main-header {
    top: 0px;
}
